@import "./../../assets/css/variable";

.product__sidebar {
  .section-title {
    h5 {
      color: $white-color;
      font-weight: 600;
      font-family: "Oswald", sans-serif;
      line-height: 21px;
      text-transform: uppercase;
      padding-left: 20px;
      position: relative;

      &:after {
        position: absolute;
        left: 0;
        top: -6px;
        height: 32px;
        width: 4px;
        background: $primary-color;
        content: "";
      }
    }
  }
}
